<section class="cart" *ngIf="productDetails">
  <div *ngFor="let data of productDetails; let i = index " class="product">
    <div class="product__left">
      <div class="product-image">
        <img [src]="data.imageUrl">
      </div>
      <div class="offer-text color-green">
        <span>{{data.offerText}}</span>
      </div>
    </div>

    <div class="product__right">
      <h2 class="color-green">{{data.brandName}}</h2>
      <div>{{ data.productName }}</div>
      <div>{{ data.Quantity }} </div>
      <div>MRP {{ data.mrp }}</div>
      <div class="color-green">Rs {{ data.price }}</div>
      <div class="btn">
        <button class="add-cart-btn" (click)="onClickAddCart(data, i)">ADD CART</button>
        <button class="plus-btn round-btn" (click)="onClickPlusBtn(data, i)">+</button>
        {{ cartValue[i] || 0 }}
        <button class="minus-btn round-btn" [disabled]="!this.cartValue[i] || this.cartValue[i] <= 0" (click)="onClickMinusButton(data, i)">-</button>
      </div>
    </div>
  </div>
</section>
<section class="checkout">
  <div class="checkout__left">
    <div>Qty {{ totalQty }}</div>
    <div>Total {{ totalCost }}</div>
  </div>
  <div class="checkout__right">
    <button class="checkout-btn" (click)="onClickCheckout()">Checkout</button>
  </div>
</section>

<div *ngIf="showModal">
  <app-confirmation-modal [totatCost]="totalCost" (closeModal)="closeModal($event)"></app-confirmation-modal>
</div>
